<div class="hidden md:flex items-center gap-8">
  <a routerLink="/driver/dashboard" routerLinkActive="text-base-600 font-semibold" class="flex items-center gap-2 text-deep-900 hover:text-base-600 transition cursor-pointer">
    <ng-icon name="heroSquares2x2" class="w-5 h-5"></ng-icon>
    Dashboard
  </a>
  <a routerLink="/driver/rides" routerLinkActive="text-base-600 font-semibold" class="flex items-center gap-2 text-deep-900 hover:text-base-600 transition cursor-pointer">
    <ng-icon name="heroTruck" class="w-5 h-5"></ng-icon>
    My Rides
  </a>
  <a routerLink="/driver/earnings" routerLinkActive="text-base-600 font-semibold" class="flex items-center gap-2 text-deep-900 hover:text-base-600 transition cursor-pointer">
    <ng-icon name="heroCurrencyDollar" class="w-5 h-5"></ng-icon>
    Earnings
  </a>
  <a routerLink="/driver/profile" routerLinkActive="text-base-600 font-semibold" class="flex items-center gap-2 text-deep-900 hover:text-base-600 transition cursor-pointer">
    <ng-icon name="heroUser" class="w-5 h-5"></ng-icon>
    Profile
  </a>
</div>
