<div class="flex flex-col gap-12">
    <div class="flex flex-col gap-4">
        <div class="flex items-center gap-3 w-full pb-3 pl-2 pr-2">
            <ng-icon name="matAccountCircleOutline" size="2.5rem" style="color: var(--color-light-700);"/>
            <div>
                <h3 class="text-xl text-light-700">Driver's Profile Picture</h3>
                <p class="text-gray-400 text-sm">Others will be able to see driver's profile picture</p>
            </div>
        </div>
        <!-- Pfp picker -->
        <app-pfp-picker 
            [initialFile]="oldStepData()?.pfpFile"
            (fileSelected)="handleNewFile($event)"
            #pfpPicker />
    </div>

    <!-- Driver information -->
    <div class="flex flex-col gap-4">
        <div class="flex items-center gap-3 w-full pb-3 pl-2 pr-2">
            <ng-icon name="heroUser" size="2.5rem" style="color: var(--color-light-700);"/>
            <div>
                <h3 class="text-xl text-light-700">Driver's Information</h3>
                <p class="text-gray-400 text-sm">Driver personal information</p>
            </div>
        </div>
        <form [formGroup]="firstStepForm" (submit)="completeStep()" class="flex flex-col gap-4">
            <div class="flex flex-col">
                <p class="text-gray-500 ml-2">Driver's first name:</p>
                <input formControlName="firstName" type="text" placeholder="First name" class="bg-gray-100 rounded-2xl p-5 size-full focus:ring-2 focus:ring-base-600 outline-none">
                <div class="flex flex-col gap-0 pl-3 text-deep-300">
                    @if(firstName.hasError('required') && (firstName.dirty || firstName.touched)) {
                        <p>Driver's first name can't be empty</p>
                    }
                </div>
            </div>
            <div class="flex flex-col">
                <p class="text-gray-500 ml-2">Driver's last name:</p>
                <input formControlName="lastName" type="text" placeholder="Last name" class="bg-gray-100 rounded-2xl py-3 pl-4 pr-3 focus:ring-2 focus:ring-base-600 outline-none">
                <div class="flex flex-col gap-0 pl-3 text-deep-300">
                    @if(lastName.hasError('required') && (lastName.dirty || lastName.touched)) {
                        <p>Driver's last name can't be empty</p>
                    }
                </div>
            </div>
            <div class="flex flex-col">
                <p class="text-gray-500 ml-2">Driver's phone number:</p>
                <input formControlName="phone" type="text" placeholder="Phone number" class="bg-gray-100 rounded-2xl py-3 pl-4 pr-3 focus:ring-2 focus:ring-base-600 outline-none">
                <div class="flex flex-col gap-0 pl-3 text-deep-300">
                    @if(phone.hasError('required') && (phone.dirty || phone.touched)) {
                        <p>Driver's phone can't be empty</p>
                    }
                </div>
            </div>
            <div class="flex flex-col">
                <p class="text-gray-500 ml-2">Driver's home address:</p>
                <input formControlName="address" type="text" placeholder="Home address" class="bg-gray-100 rounded-2xl py-3 pl-4 pr-3 focus:ring-2 focus:ring-base-600 outline-none">
                <div class="flex flex-col gap-0 pl-3 text-deep-300">
                    @if(address.hasError('required') && (address.dirty || address.touched)) {
                        <p>Driver's address can't be empty</p>
                    }
                </div>
            </div>
            <button [disabled]="firstStepForm.invalid" type="submit" class="disabled:bg-dark-300 disabled:cursor-not-allowed bg-base-600 py-2.5 rounded-xl w-fit px-8 mx-auto mt-6 text-white cursor-pointer hover:bg-base-700 transition">Next step</button>
        </form>            
    </div>
    
</div>